<h1>{{title}}</h1>
<p>Welcome to the Restaurant Finder!!!! Let's find the right place to give you an ultimate dine-in experience.</p>
<p>Kindly enter a valid restaurant ID!</p>

<form action="/api/restaurant" method="get">
  <label for="id">Restaurant ID</label><br>
  <input class="form-control" type="text" id="_id" name="_id">
  <input type="submit" value="Submit">
</form>